<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.survey.mapper.QuesSurveyAnsweredDetailExtMapper" >

	<select id="getAgreeTop5" parameterType="java.lang.Long" resultType="com.crm.dto.Top5Dto">
		SELECT aa.quesTypeId as quesTypeId,  ROUND((bb.agreeCount*100)/aa.count,2) as topPer FROM

		(SELECT ques_type_id as quesTypeId,count(1) as count FROM t_an_ques_survey_answered_detail GROUP BY ques_type_id) aa,
		
		(SELECT ques_type_id as quesTypeId,count(1) as agreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} and answer_name like '非常同意%' and ques_type = 1 GROUP BY ques_type_id) bb
		
		WHERE aa.quesTypeId = bb.quesTypeId ORDER BY topPer desc
	</select>
	
	<select id="getDisAgreeTop5" parameterType="java.lang.Long" resultType="com.crm.dto.Top5Dto">
		SELECT aa.quesTypeId as quesTypeId,  ROUND((bb.agreeCount*100)/aa.count,2) as topPer FROM

		(SELECT ques_type_id as quesTypeId,count(1) as count FROM t_an_ques_survey_answered_detail GROUP BY ques_type_id) aa,
		
		(SELECT ques_type_id as quesTypeId,count(1) as agreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} and answer_name like '非常不同意%' and ques_type = 1 GROUP BY ques_type_id) bb
		
		WHERE aa.quesTypeId = bb.quesTypeId ORDER BY topPer desc
	</select>
	
	<select id="getPerListByAnswer" parameterType="map" resultType="com.crm.dto.Top5Dto">
		SELECT aa.quesTypeId as quesTypeId,  ROUND((bb.agreeCount*100)/aa.count,2) as topPer FROM

		(SELECT ques_type_id as quesTypeId,count(1) as count FROM t_an_ques_survey_answered_detail GROUP BY ques_type_id) aa,
		
		(SELECT ques_type_id as quesTypeId,count(1) as agreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} and answer_name like #{answerName} and ques_type = 1 GROUP BY ques_type_id) bb
		
		WHERE aa.quesTypeId = bb.quesTypeId ORDER BY topPer desc
	</select>
	
	<select id="getPerListByCompany" parameterType="java.lang.Long" resultType="com.crm.dto.SurveyCompanyPerDto">
		select '公司平均值' as companyName, 
				(CASE WHEN total = 0 then 0 ELSE ROUND((veryAgreeCount*100)/total,2) END) as veryAgreePer,
				(CASE WHEN total = 0 then 0 ELSE ROUND(agreeCount*100/total,2) END) as agreePer,
				(CASE WHEN total = 0 then 0 ELSE ROUND(partAgreeCount*100/total,2) END) as partAgreePer,
				(CASE WHEN total = 0 then 0 ELSE ROUND(disagreeCount*100/total,2) END) as disagreePer,
				(CASE WHEN total = 0 then 0 ELSE ROUND(veryDisagreeCount*100/total,2) END) as veryDisagreePer,
				(CASE WHEN total = 0 then 0 ELSE ROUND(dontKnowCount*100/total,2) END) as dontKnowPer 
		FROM
		(SELECT count(1) as total FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 and ques_type = 1) as total,
		(SELECT count(1) as veryAgreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 AND answer_name like '非常同意%') as veryAgreeCount,
		(SELECT count(1) as agreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 AND answer_name like '同意%') as agreeCount ,
		(SELECT count(1) as partAgreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 AND answer_name like '部分同意%') as partAgreeCount ,
		(SELECT count(1) as disagreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 AND answer_name like '不同意%') as disagreeCount,
		(SELECT count(1) as veryDisagreeCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 AND answer_name like '非常不同意%') as veryDisagreeCount,
		(SELECT count(1) as dontKnowCount FROM t_an_ques_survey_answered_detail WHERE ques_survey_id = #{quesSurveyId} AND is_background_survey = 0 AND is_delete = 0 AND answer_name like '%不清楚%') as dontKnowCount
	</select>
	
	<select id="getQuesAgreeTop5" parameterType="java.lang.Long" resultType="com.crm.dto.QuesTop5Dto">
		SELECT
			bb.quesId AS quesId,
			ROUND(
				<!-- CONVERT (FLOAT,(bb.agreeCount * 100)) / aa.total, -->
				(bb.agreeCount * 100) / aa.total,
				2
			) AS topPer
		FROM
			(
				SELECT
					COUNT(1) AS total
				FROM
					t_an_ques_survey_answered_detail
				WHERE
					ques_survey_id = #{quesSurveyId}
				AND ques_type = 1
				AND is_background_survey = 0
				AND answer_name LIKE '非常同意%'
			) aa,
			(
				SELECT
					ques_id AS quesId,
					COUNT(1) AS agreeCount
				FROM
					t_an_ques_survey_answered_detail
				WHERE
					ques_survey_id = #{quesSurveyId}
				AND ques_type = 1
				AND is_background_survey = 0
				AND answer_name LIKE '非常同意%'
				GROUP BY
					ques_id
			) bb
		ORDER BY
			topPer DESC
	</select>
	
	<select id="getQuesDisAgreeTop5" parameterType="java.lang.Long" resultType="com.crm.dto.QuesTop5Dto">
		SELECT
			bb.quesId AS quesId,
			ROUND(
				<!-- CONVERT (FLOAT,(bb.agreeCount * 100)) / aa.total, -->
				(bb.agreeCount * 100) / aa.total,
				2
			) AS topPer
		FROM
			(
				SELECT
					COUNT(1) AS total
				FROM
					t_an_ques_survey_answered_detail
				WHERE
					ques_survey_id = #{quesSurveyId}
				AND ques_type = 1
				AND answer_name LIKE '非常不同意%'
			) aa,
			(
				SELECT
					ques_id AS quesId,
					COUNT(1) AS agreeCount
				FROM
					t_an_ques_survey_answered_detail
				WHERE
					ques_survey_id = #{quesSurveyId}
				AND ques_type = 1
				AND answer_name LIKE '非常不同意%'
				GROUP BY
					ques_id
			) bb
		ORDER BY
			topPer DESC
	</select>
	
</mapper>