<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--typeAliases>
		<typeAlias alias="addressDO" type="com.sina.domain.AddressDO" />
	</typeAliases-->
	<mappers>
		<!-- sqlmap xml path config -->
			<mapper resource="com/hunter/crm/mybatis/sqlmap/city-mybatis-sqlmap.xml" />
	</mappers>
</configuration>